
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
  }
  
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
 
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }
  

  .product {
    background-color: #ADD8E6;
    border: 1px solid #ddd;
    padding: 50px;
    margin: 50px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    border-top: 2px;
    border-radius: 10px;
    border-top-style: solid;
    border-top-color: #000080;
    height: 360px;
  }
  .buy{
    background-color: #000080;
    width: 100px;
    color: white;
    border: none;
    padding: 5px 2px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .product img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    width: 300px;
  }
  
  .product h2 {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .product p {
    color: #555;
  }
  
  .add-to-cart {
    background-color: #000080;
    width: 100px;
    color: white;
    border: none;
    padding: 5px 2px;
    cursor: pointer;
  }
  
  .add-to-cart:hover {
    background-color: #555;
  }
  

  aside {
    background-color: #ADD8E6;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    border-radius: 4px;
  }
  
  
  #cart {
    list-style-type: none;
    padding: 0;
  }
  
  #cart li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  #checkout {
    background-color: #000080;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  #checkout:hover {
    background-color: #555;
  }