#main{
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 80px;
    margin-bottom: 20px;
}
.main-card {
    opacity: 0;
    transform: translateY(200px);
    transition: opacity 0.5s, transform 0.6s;
  }
  
  .main-card.visible {
    opacity: 1;
    transform: translateY(0);
  }