@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .auto-rotatable-card {
    width: 50px;
    height: 50px;
    background: conic-gradient(
      #000080 0% 25%,
      #0aacf7 25% 50%,
      #78e7e9 50% 75%,
      #b8f2fd 75% 100%
    );
    color: rgb(0, 0, 0);
    border-radius: 100%;
    margin-right: 10px;
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rotate 5s linear infinite;
  }
  
  