@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .auto-rotatable-card {
    width: 35px;
    height: 35px;
    background: conic-gradient(
      #000080 0% 25%,
      #ADD8E6 25% 50%,
      #000080 50% 75%,
      #ADD8E6 75% 100%
    );
    color: rgb(0, 0, 0);
    border-radius: 100%;
    margin-right: 10px;
    border-color: #ADD8E6;
    border-width: 2px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rotate 5s linear infinite;
  }
  
  